@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html{ overflow: hidden; }

/* base */
*{ padding: 0; margin: 0; font-family:'Nanum Gothic',monospace; font-size: 12px; color: #666666; }
li{ list-style: none; }
a{ text-decoration: none; } 
img{ border: none; }
table{ border-collapse:collapse; border-spacing: 0px; }
address{ font-style: normal; }
fieldset{ border: none; }
legend{ position: absolute; left: -999em; }
input[type=button], input[type=submit], input[type=reset], input[type=image], button{ cursor: pointer; } 
label.away{ position: absolute; left: -999em; }



/* joinBox */

.joinBox { width: 800px; height: 900px; background-color: #ffffff; border: 1px solid #666666; position: relative; padding-top: 20px; box-sizing: border-box; margin: 0 auto; margin-top: 30px; }
.joinBox h1 { float: left; position: absolute; top: 310px; left: 35px; }
.joinBox h2 { font-size: 17px; margin-bottom: 25px; margin-top: 25px; }
.joinBox h2.title { font-size: 23px; margin-bottom: 30px; margin-left: -3px; }
.joinBox h3 { line-height: 25px; margin-bottom: 40px; font-size: 14px; }
.joinBox form { width: 520px; height: 800px; float: right; }


.joinBox fieldset label { display: inline-block; width: 120px; height: 45px; font-size: 13px; }
.joinBox fieldset #ootPhone { display: inline-block; width: 200px; height: 20px;  font-size: 13px; margin-bottom: 35px;}
.joinBox fieldset .choice { margin-bottom: 20px; margin-left: 90px; }
.joinBox input[type=radio]{ position: relative; top: 3px; left: 10px; margin: 0 10px; }

#addrBtn { width: 75px; height: 22px; background-color: #666666; color: #ffffff; margin-left: 7px; border: none; }
.joinBox input[type=checkbox] { float: left;  margin-right: 10px; position: relative; top: 2px; }
.joinBox input[type=text] { border: none; border-bottom: 1px solid #666666; padding-left: 5px; box-sizing: border-box; width: 200px; height: 20px; }
.joinBox input[type=password] { border: none; border-bottom: 1px solid #666666; padding-left: 5px; box-sizing: border-box; width: 200px; height: 20px; }
.joinBox .last { margin-top: 10px; }
.joinBox .last label { font-size: 11px; width: 400px; height: 21px;  }


